body{
    font-family: 'Montserrat', sans-serif;
}

.active span:nth-child(1){
    transform: rotate(45deg) translateX(5px);
}
.active span:nth-child(3) {
    
    transform: rotate(-45deg) translateX(5px);
}
.active span:nth-child(2){
    display: none;
}

.translate{
    display: inline-block;
    transform: translateX(-100%);
}

.translate_back {
    animation: translated 0.8s ease-in-out 1 forwards;
}

.translate_back:nth-child(1){
    animation-delay: 0;
}
.translate_back:nth-child(2) {
    animation-delay: 150ms;
}
.translate_back:nth-child(3) {
    animation-delay: 300ms;
}
@keyframes translated {
    to {
        transform: translateX(0%);
    }
}

.wave::after {
content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffc600;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}
.wave::before {
content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ffc600;
    border-radius: 50%;
    transition: all 200ms;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}
/* .wave:hover::before {
    transform: scale(1.5);
    opacity: 0.4;
} */